# === General ===
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/
.byebug_history

# === Editor & OS ===
*.swp
.DS_Store
.idea/
.vscode/

# === Rails Specific ===
/.bundle
/vendor/bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
/tmp/storage/*
!/tmp/storage/
/storage/*
!/storage/.keep

/config/master.key

# === Dotenv ===
/.env*
# Used by dotenv library to load environment variables

# === RubyMotion ===
.dat*
.repl_history
build/
*.bridgesupport
build-iPhoneOS/
build-iPhoneSimulator/

# === Documentation ===
/.yardoc/
/_yardoc/
/doc/
/rdoc/

# === RuboCop ===
# .rubocop-https?--*

# === Bundler ===
/lib/bundler/man/

# === Optional ===
# Gemfile.lock
# .ruby-version
# .ruby-gemset
# .rvmrc